body {
  background-color: bisque;
}

h1,
h3 {
  text-align: center;
  margin-top: 30px;
}

p {
  max-width: 70%;
  margin: 20px auto;
  text-align: center;
}

img {
  max-width: 40%;
  display: block;
  margin: 30px auto;
}

.content {
  display: block;
  margin: 30px auto;
  text-align: center;
  max-width: 40%;
}

a {
  text-decoration: none;
  color: maroon;
  font-weight: 700;
}
